*{box-sizing: border-box;}

body{
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.1;
    color: $color-font;
    background-color: $color-background;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}