@use "variables.scss" as v;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: v.$font-family;
  font-size: 16px;
  line-height: 1.1;
  color: v.$color-font;
  background-color: v.$color-background;
  overflow-x: hidden;

  min-height: 100%;
}

#app {
  width: 100%;
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header#nav {
  padding-bottom: 65px;
}

a {
  color: v.$color-link;
  text-decoration: none;

  &:hover {
    color: v.$color-link-hover;
  }
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px 20px;
  padding: 100px 50px;
  h2 {
    font-size: 2.3rem;
    font-weight: 600;
    color: v.$color-font;
  }

  h3 {
    font-size: 1.7rem;
    font-weight: 500;
    color: v.$color-font;
  }
}
