$color-background: #0d0d0d;
$color-background-nav: #0a0a0a;

$color-font: #ddd;
$color-font-primary: hsl(220, 100%, 62%);
$color-link: hsl(120, 80%, 75%);
$color-link-hover: hsl(120, 60%, 50%);
$color-link-nav: hsl(220, 100%, 62%);

$font-family: 'Source Sans Pro', sans-serif;
$font-family-mono: 'Source Code Pro', sans-serif;