$color-background: hsl(236, 95%, 13%);

$color-font: hsl(231, 50%, 80%);
$color-font-primary: hsl(231, 50%, 80%);
$color-link: hsl(232, 86%, 44%);

$font-family: 'Source Sans Pro', sans-serif;
$font-family-code: 'Source Code Pro', sans-serif;