$weights: 200, 300, 400, 600, 700, 900;
$styles: italic, normal;

@each $weight in $weights {
  @each $style in $styles {
    @font-face {
      font-family: "Source Code Pro";
      font-style: #{$style};
      font-weight: #{$weight};
      font-display: swap;
      src: url("/fonts/Source_Code_Pro/font.woff2") format("woff2");
    }
  }
}
